#Read/write the BOOL registers from the device
record(bi, "$(P)$(R)TankValveOpened-RB") {
    field(DTYP, "asynUInt32Digital")
    field(INP, "@asynMask(FC2, 64 0x1)")
    field(SCAN, "1 second")
    field(ZNAM, "CLOSED")
    field(ONAM, "OPEN")
    field(DESC, "Tank Valve Rbv")
}

record(bo, "$(P)$(R)TankValveOpen-S") {
    field(DTYP, "asynUInt32Digital")
    field(OUT, "@asynMask(FC5, 65 0x1)")
    field(ZNAM, "CLOSED")
    field(ONAM, "OPEN")
    field(DESC, "Tank Valve")
}

record(bi, "$(P)$(R)ProcValveOpened-RB") {
    field(DTYP, "asynUInt32Digital")
    field(INP, "@asynMask(FC2, 65 0x1)")
    field(SCAN, "1 second")
    field(ZNAM, "CLOSED")
    field(ONAM, "OPEN")
    field(DESC, "Process Valve Rbv")
}

record(bo, "$(P)$(R)ProcValveOpen-S") {
    field(DTYP, "asynUInt32Digital")
    field(OUT, "@asynMask(FC5, 66 0x1)")
    field(ZNAM, "CLOSED")
    field(ONAM, "OPEN")
    field(DESC, "Process Valve")
}
