#Read/write the BOOL registers from the device
record(bi, "$(P)$(R)MovingFill-RB") {
    field(DTYP, "asynUInt32Digital")
    field(INP, "@asynMask($(FC2),1 0x1)")
    field(SCAN, "1 second")
    field(ZNAM, "0")
    field(ONAM, "1")
    field(DESC, "Moving Fill")
}

record(bi, "$(P)$(R)Stopped-RB") {
    field(DTYP, "asynUInt32Digital")
    field(INP, "@asynMask($(FC2),2 0x1)")
    field(SCAN, "1 second")
    field(ZNAM, "STARTED")
    field(ONAM, "STOPPED")
    field(DESC, "Stopped")
}

record(bi, "$(P)$(R)Start-RB") {
    field(DTYP, "asynUInt32Digital")
    field(INP, "@asynMask($(FC2),12 0x1)")
    field(SCAN, "1 second")
    field(ZNAM, "STOPPED")
    field(ONAM, "STARTED")
    field(DESC, "Start Command Rbv")
}

record(bi, "$(P)$(R)Stop-RB") {
    field(DTYP, "asynUInt32Digital")
    field(INP, "@asynMask($(FC2),13 0x1)")
    field(SCAN, "1 second")
    field(ZNAM, "STARTED")
    field(ONAM, "STOPPED")
    field(DESC, "Stop Command Rbv")
}

record(bo, "$(P)$(R)Start-S") {
    field(DTYP, "asynUInt32Digital")
    field(OUT, "@asynMask($(FC5),13 0x1)")
    field(ZNAM, "STOPPED")
    field(ONAM, "STARTED")
    field(DESC, "Start Command")
    field(FLNK, "$(P)$(R)#Invert2Stop")
}

record(calcout, "$(P)$(R)#Invert2Stop"){
    field(INPA, "$(P)$(R)Start-S")
    field(CALC, "!A")
    field(OUT, "$(P)$(R)Stop-S")
    field(OOPT, "Every Time")
    field(FLNK, "$(P)$(R)Stop-S")
}

record(bo, "$(P)$(R)Stop-S") {
    field(DTYP, "asynUInt32Digital")
    field(OUT, "@asynMask($(FC5),14 0x1)")
    field(ZNAM, "STARTED")
    field(ONAM, "STOPPED")
    field(DESC, "Stop Command")
}
