# Blowout detection algorithm records
record(ao, "$(P)$(R)DeltaPresTreshold-S") {
    field(DTYP, "Soft Channel")
    field(DESC, "Delta Pressure Treshold")
}

record(calcout, "$(P)$(R)#DeltaPres-R"){
    field(INPA, "$(P)$(R)#PrevPres-R")
    field(INPB, "$(P)$(R)Pressure-R CPP")
    field(CALC, "ABS(A-B)")
    field(OUT, "$(P)$(R)#DeltaPresOut-R")
    field(OOPT, "Every Time")
    field(FLNK, "$(P)$(R)#PrevPres-R")
}

record(ai, "$(P)$(R)#PrevPres-R") {
    field(DTYP, "Soft Channel")
    field(DESC, "Keep the previous value")
    field(INP, "$(P)$(R)Pressure-R")
}

record(ao, "$(P)$(R)#DeltaPresOut-R") {
    field(DTYP, "Soft Channel")
    field(DESC, "Output A value")
}

record(calcout, "$(P)$(R)#BlowoutCalc-RB") {
    field(INPA, "$(P)$(R)#DeltaPresOut-R CPP")
    field(INPB, "$(P)$(R)DeltaPresTreshold-S CPP")
    field(CALC, "A<B")
    field(OOPT, "On Change")
    field(OUT, "$(P)$(R)BlowoutAlarm-RB")
}

record(ao, "$(P)$(R)BlowoutAlarm-RB") {
    field(DTYP, "Soft Channel")
    field(DESC, "Blowout alarm")
}

# Force estimation algorithm records
record(ai, "$(P)$(R)Area-S") {
    field(DTYP, "Soft Channel")
    field(DESC, "Area for calculation")
}

record(calcout, "$(P)$(R)#Force-R"){
    field(INPA, "$(P)$(R)Area-S CPP")
    field(INPB, "$(P)$(R)Pressure-R CPP")
    field(CALC, "B*A*0.01")
    field(DESC, "Force estimation")
}

record(calcout, "$(P)$(R)TonneForce-R"){
    field(INPA, "$(P)$(R)Force-R CPP")
    field(CALC, "A/9.8")
    field(DESC, "Tonne-force estimation")
}

# Leak detection algorithm records
record(ao, "$(P)$(R)Pressure_FE-S") {
    field(DESC, "Set pressure following error")
}

# Threshold written by user
record(ao, "$(P)$(R)FlowThreshold-S") {
    field(VAL, "1")
}

# Time written by user after which the error should rise e.g. 50sec
record(ao, "$(P)$(R)TimerInit-S") {
    field(VAL, "50")
    field(EGU, "s")
}

# Actual timer value
record(ao, "$(P)$(R)#Counter-R") {
  field(EGU, "s")
}

# Leak error record
record(ao, "$(P)$(R)LeakError-RB") {
}

record(aSub,  "$(P)$(R)#LeakDetAlgorithm") {
  field(SCAN, "1 second")
  field(DESC, "Test if there is a leak")
  field(SNAM, "asub_timer")

  # Inputs:
  field(INPA, "$(P)$(R)TimerInit-S")
  field(FTA,  "SHORT")
  field(INPB, "$(P)$(R)PM_Pressure-RB CPP")
  field(FTB,  "FLOAT")
  field(INPC, "$(P)$(R)Pressure-R CPP")
  field(FTC,  "FLOAT")
  field(INPD, "$(P)$(R)Flow-R CPP")
  field(FTD,  "FLOAT")
  field(INPE, "$(P)$(R)FlowThreshold-S")
  field(FTE,  "FLOAT")
  field(INPF, "$(P)$(R)Pressure_FE-S CPP")
  field(FTF,  "FLOAT")

  # Outputs:
  field(OUTA, "$(P)$(R)#Counter-R PP")
  field(FTVA, "SHORT")
  field(OUTB, "$(P)$(R)LeakError-RB PP")
  field(FTVB, "SHORT")
}
