# Read/write the WORD registers from the device
record(ai, "$(P)$(R)Volume-R") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 4, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "cc")
    field(DESC, "Volume")
}

record(ai, "$(P)$(R)Flow-R") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 6, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "cc/min")
    field(DESC, "Flow")
}

record(ai, "$(P)$(R)dV-R") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 8, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "cc")
    field(DESC, "dV")
}

record(ai, "$(P)$(R)Pressure-R") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 10, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(PREC, "3")
    field(EGU, "bar")
    field(DESC, "Pressure")
}

record(ai, "$(P)$(R)PumpCapacity-R") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 12, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "cc")
    field(DESC, "Pump Capacity")
}

record(mbbi, "$(P)$(R)PumpMode-RB") {
   field(DTYP, "asynInt32")
   field(INP, "@asyn($(FC3), 16, 1000)INT16")
   field(SCAN, "1 second")
   field(DESC, "Pump Mode RBV")
   field(ZRVL, "1")
   field(ONVL, "2")
   field(TWVL, "6")
   field(THVL, "7")
   field(FRVL, "8")
   field(FVVL, "9")
   field(SXVL, "11")
   field(SVVL, "13")
   field(ZRST, "Pressure")
   field(ONST, "Flow")
   field(TWST, "Fill")
   field(THST, "Empty")
   field(FRST, "Double pressure")
   field(FVST, "Double flow")
   field(SXST, "Confining")
   field(SVST, "Triple process")
}

record(mbbo, "$(P)$(R)PumpMode-S") {
   field(DTYP, "asynInt32")
   field(OUT, "@asyn($(FC6), 17, 1000)INT16")
   field(ZRVL, "1")
   field(ONVL, "2")
   field(TWVL, "6")
   field(THVL, "7")
   field(FRVL, "8")
   field(FVVL, "9")
   field(SXVL, "11")
   field(SVVL, "13")
   field(ZRST, "Pressure")
   field(ONST, "Flow")
   field(TWST, "Fill")
   field(THST, "Empty")
   field(FRST, "Double pressure")
   field(FVST, "Double flow")
   field(SXST, "Confining")
   field(SVST, "Triple process")
}

record(ai, "$(P)$(R)Pressure_PID_P-RB") {
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(FC3), 17, 1000)INT16")
    field(SCAN, "1 second")
    field(DESC, "Pressure PID Parameter: P (x100)")
}

record(ao, "$(P)$(R)Pressure_PID_P-S") {
    field(DTYP, "asynInt32")
    field(OUT, "@asyn($(FC6), 18, 1000)INT16")
    field(DESC, "Pressure PID Parameter: P (x100)")
}

record(ai, "$(P)$(R)Pressure_PID_I-RB") {
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(FC3), 18, 1000)INT16")
    field(SCAN, "1 second")
    field(DESC, "Pressure PID Parameter: I (x1000)")
}

record(ao, "$(P)$(R)Pressure_PID_I-S") {
    field(DTYP, "asynInt32")
    field(OUT, "@asyn($(FC6), 19, 1000)INT16")
    field(DESC, "Pressure PID Parameter: I (x1000)")
}

record(ai, "$(P)$(R)Pressure_PID_D-RB") {
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(FC3), 19, 1000)INT16")
    field(SCAN, "1 second")
    field(DESC, "Pressure PID Parameter: D (x1000)")
}

record(ao, "$(P)$(R)Pressure_PID_D-S") {
    field(DTYP, "asynInt32")
    field(OUT, "@asyn($(FC6), 20, 1000)INT16")
    field(DESC, "Pressure PID Parameter: D (x1000)")
}

record(ai, "$(P)$(R)PresCalib_Gain-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 20, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(DESC, "Pressure calibration: Gain")
}

record(ao, "$(P)$(R)PresCalib_Gain-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 21, 1000)FLOAT32_LE")
    field(DESC, "Pressure calibration: Gain")
}

record(ai, "$(P)$(R)PresCalib_Offset-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 22, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(DESC, "Pressure calibration: Offset")
}

record(ao, "$(P)$(R)PresCalib_Offset-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 23, 1000)FLOAT32_LE")
    field(DESC, "Pressure calibration: Offset")
}

record(ai, "$(P)$(R)VoluCalib_Offset-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 24, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(DESC, "Volume calibration: Offset")
}

record(ao, "$(P)$(R)VoluCalib_Offset-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 25, 1000)FLOAT32_LE")
    field(DESC, "Volume calibration: Offset")
}

record(ai, "$(P)$(R)VoluCalib_Gain-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 26, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(DESC, "Volume calibration: Gain")
}

record(ao, "$(P)$(R)VoluCalib_Gain-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 27, 1000)FLOAT32_LE")
    field(DESC, "Volume calibration: Gain")
}

record(ai, "$(P)$(R)FM_Flow_SP-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 28, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(DESC, "Flow Mode: Flow Set Point")
}

record(ao, "$(P)$(R)FM_Flow_SP-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 29, 1000)FLOAT32_LE")
    field(DESC, "Flow Mode: Flow Set Point")
}

record(ai, "$(P)$(R)FM_Max_dV-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 30, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "cc")
    field(DESC, "Flow Mode: Max dV")
}

record(ao, "$(P)$(R)FM_Max_dV-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 31, 1000)FLOAT32_LE")
    field(DESC, "Flow Mode: Max dV")
}

record(ai, "$(P)$(R)FM_MaxPressure-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 32, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "")
    field(DESC, "Flow Mode: Max Pressure")
}

record(ao, "$(P)$(R)FM_MaxPressure-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 33, 1000)FLOAT32_LE")
    field(DESC, "Flow Mode: Max Pressure")
}

record(ai, "$(P)$(R)PM_Pressure-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 34, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "bar")
    field(DESC, "Pressure Mode: Pressure Set Point")
}

record(ao, "$(P)$(R)PM_Pressure-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 35, 1000)FLOAT32_LE")
    field(EGU, "bar")
    field(DESC, "Pressure Mode: Pressure Set Point")
}

record(ai, "$(P)$(R)PM_PressureRamp-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 36, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "")
    field(DESC, "Pressure Mode: Pressure Ramp")
}

record(ao, "$(P)$(R)PM_PresssureRamp-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 37, 1000)FLOAT32_LE")
    field(DESC, "Pressure Mode: Pressure Ramp")
}

record(ai, "$(P)$(R)PM_MaxFlow-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 38, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "")
    field(DESC, "Pressure Mode: Max Flow")
}

record(ao, "$(P)$(R)PM_MaxFlow-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 39, 1000)FLOAT32_LE")
    field(DESC, "Pressure Mode: Pressure Ramp")
}

record(ai, "$(P)$(R)PM_Max_dV-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 40, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "cc")
    field(DESC, "Pressure Mode: Max dV")
}

record(ao, "$(P)$(R)PM_Max_dV-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 41, 1000)FLOAT32_LE")
    field(DESC, "Pressure Mode: Max dV")
}

record(ai, "$(P)$(R)NetPressure-RB") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 42, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "")
    field(DESC, "Net Pressure Set Point")
}

record(ao, "$(P)$(R)NetPressure-S") {
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(FC16), 43, 1000)FLOAT32_LE")
    field(DESC, "Net Pressure Set Point")
}

record(ai, "$(P)$(R)InletPressure-R") {
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(FC3), 44, 1000)FLOAT32_LE")
    field(SCAN, "1 second")
    field(EGU, "")
    field(DESC, "Inlet Pressure")
}

record(ai, "$(P)$(R)OP_MaxPressure-R") {
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(FC3), 49, 1000)INT16")
    field(SCAN, "1 second")
    field(DESC, "Operator Max Pressure")
}

record(ai, "$(P)$(R)OP_MaxFlow-R") {
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(FC3), 50, 1000)INT16")
    field(SCAN, "1 second")
    field(DESC, "Operator Max Flow")
}

record(ai, "$(P)$(R)OP_MaxNetPressure-R") {
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(FC3), 51, 1000)INT16")
    field(SCAN, "1 second")
    field(DESC, "Operator Max Net Pressure")
}

record(ai, "$(P)$(R)Current-R") {
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(FC3), 52, 1000)INT16")
    field(SCAN, "1 second")
    field(DESC, "Current (Current Unit) (x 1000)")
}
